<!--indexOff: all-->
<header>
  <div class="container-fluid">
    <div class="container">
      <div class="header-container__top">
        {{{blocks.image}}} {{{blocks.title}}}
        <div class="block list links secondaryMenu" data-cid="1.857266" lang="sv-SE">
          {{{blocks.secondaryMenu}}}
        </div>
        <div id="mobileMenuWrapper">
          <button id="nav-icon" class="navbar-toggler nav-icon" type="button"
            title="{{i18n 'button_mobile_menu_label' lang}}">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
          </button>
          <nav id="mobileMenu" aria-label="{{i18n 'mobile_menu_aria_label' lang}}" class=" block navbar
            navbar-expand-lg navbar-light">
            <div id="mobileMenuContent" class="navbar-collapse collapse">
              <ul id="mobileMenuList" class="menu navbar-nav mr-auto"></ul>
            </div>
          </nav>
        </div>
      </div>
      <div class="header-container__bottom">{{{blocks.megaMenu}}} {{{blocks.search}}}</div>
    </div>
  </div>
  <div id="gradientBorder"></div>

</header>
<!--indexOn: all-->