<script>
  window.__initialState__ = {{{initialState}}}
</script>
<script src="https://cdn.polyfill.io/v2/polyfill.min.js"></scrip>
{{prefixScript '/static/js/app.js' 'scripts'}}


<!--h1>Kurinformation - Sprint 1</h1-->
<div class="col" id="kth-kursplan-no-syllabus">
  
{{#if error}}
<h3>{{{html}}}</h3>
  <p style="font-size:10px;">Error: {{error}}</p>
{{else}}
  <div id="api-data">{{data}}</div>
{{/if}}
</div>
<script>

  
</script>
{{{blob}}}


