<!DOCTYPE html>
<html lang="{{lang}}">

<head>
  <title>KTH | {{title}}</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="{{description}}">
  <link rel="shortcut icon" href="{{proxyPrefix}}/static/icon/favicon">

  {{#if canonicalUrl}}
    <link href="{{canonicalUrl}}" rel="canonical">
  {{/if}}
  
  {{prefixStyle '/static/kth-style/css/kth-bootstrap.css' 'styles' 'screen'}}
  {{prefixStyle '/assets/fonts.css' 'styles' 'screen'}}
  {{prefixStyle '/static/app.css' 'styles' 'screen'}}

  {{{render 'styles'}}}

  {{#if blocks.klaroConfig}}
    {{{blocks.klaroConfig}}}
    {{prefixScript '/static/kth-style/js/klaro-no-css.js' 'head-scripts'}}
  {{/if}}
  
  {{prefixModuleScript '/assets/js/index.js' 'head-scripts'}}
  {{prefixScript '/static/browserConfig' 'head-scripts'}}
  {{prefixScript '/static/kth-style/js/backtotop.js' 'head-scripts'}}

  {{{render 'head-scripts'}}}
  
  <script src="{{toolbarUrl}}"></script>
  <script type="module">
    import { MenuPanel } from '{{proxyPrefix}}/assets/js/index.js'
    MenuPanel.initModal(
      document.querySelector('.kth-menu-item.collapsable'),
      document.querySelector('.kth-menu-panel--modal')
    )
    MenuPanel.initTranslationModal(
      document.querySelector(".kth-menu-item.language"),
      document.querySelector(".kth-translation")
    )
    MenuPanel.initModal(
      document.querySelector(".kth-local-navigation--mobile .kth-button.menu"),
      document.querySelector(".kth-local-navigation--mobile .kth-mobile-menu"),
    );
  </script>
  <script src="{{toolbarUrl}}"></script>
  
  {{#if instrumentationKey}}
    {{#if klaroAnalyticsConsentCookie}}
    <script type="text/javascript">
      var appInsights = window.appInsights || function (a) {
        function b(a) {
          c[a] = function () {
            var b = arguments;
            c.queue.push(function () { c[a].apply(c, b) })
          }
        } var c = { config: a }, d = document, e = window; setTimeout(function () {
          var b = d.createElement("script"); b.src = a.url || "https://az416426.vo.msecnd.net/scripts/a/ai.0.js", d.getElementsByTagName("script")[0].parentNode.appendChild(b)
        }); try { c.cookie = d.cookie } catch (a) { } c.queue = []; for (var f = ["Event", "Exception", "Metric", "PageView", "Trace", "Dependency"]; f.length;)b("track" + f.pop()); if (b("setAuthenticatedUserContext"), b("clearAuthenticatedUserContext"), b("startTrackEvent"), b("stopTrackEvent"), b("startTrackPage"), b("stopTrackPage"), b("flush"), !a.disableExceptionTracking) { f = "onerror", b("_" + f); var g = e[f]; e[f] = function (a, b, d, e, h) { var i = g && g(a, b, d, e, h); return !0 !== i && c["_" + f](a, b, d, e, h), i } } return c
      }({ instrumentationKey: "{{{instrumentationKey}}}" }); window.appInsights = appInsights, appInsights.queue && 0 === appInsights.queue.length && appInsights.trackPageView(); 
    </script>
    {{/if}}
  {{/if}}

  {{#if blocks.matomoAnalytics}}
    <!-- analytics start -->
      {{{blocks.matomoAnalytics}}}
    <!-- analytics end -->
  {{/if}}
</head>
<body>
  <a class="skipToMainContent" href="#mainContent" tabindex="1">{{i18n 'skip_to_main_content' lang}}</a>
  {{> kthHeader }}
  <div class="kth-content">
    <div class="row">
      {{{body}}}
    </div>
  </div>
  {{> kthFooter }}
  {{{render 'scripts'}}}
</body>

</html>