
{{prefixScript '/static/app.js' 'scripts'}}

{{#if error}}
  <p>Error: {{error}}</p>
{{else}}
  <div id="api-data">{{data}}</div>
{{/if}}



<div id="kth-kursinfo-no-course"  style="margin:30px 0;">

  {{{html}}}

</div>
