<script>
  window.__initialState__ = {{{initialState}}}
</script>


<div class="container articleNavigation course-page">
   
    <div class="row justify-content-between">
      <div class="col-1 col-sm-1"> </div>
   <div class="col-xs-12 col-sm-10"> 
        {{breadcrumbs breadcrumbsPath lang}}
        </div>
     <div class="col-1 col-sm-1"> </div>
    </div>
    
  </div>

{{#if error}}
  <p>Error: {{error}}</p>
{{else}}
  <div id="api-data">{{data}}</div>
{{/if}}



<div id="kth-kursinfo">{{{html}}}</div>
