<script>{{{compressedData}}}</script>

{{#if error}}
  <main id='mainContent'>
    <p>Error: {{error}}</p>
  </main>
{{else}}
  <div id='app'>{{{html}}}</div>
{{/if}}

{{prefixScript '/static/app.js' 'scripts'}}<!---->